<ion-header>
  <ion-toolbar class="pitagoras-color">
    <ion-title>
      Turnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="cards-box">
    <ion-card (click)="goTo('morn')" class="ion-activatable card">
        <ion-ripple-effect></ion-ripple-effect>
      <ion-card-header>
        <ion-card-title>Manhã</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card (click)="goTo('night')" class="ion-activatable card">
        <ion-ripple-effect></ion-ripple-effect>

      <ion-card-header>
        <ion-card-title>Noite</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
