<ion-header class="color-pitagoras">
  <ion-toolbar class="space-p color-pitagoras">
    <ion-title class="double-font">
      <ng-container *ngIf="point === 0">
        Salas - Pitágoras
      </ng-container>
      <ng-container *ngIf="point === 1">
        {{ jsonS[classroom].curso }} - Períodos
      </ng-container>
      <ng-container *ngIf="point === 2">
        {{ jsonS[classroom].curso }} - Salas
      </ng-container>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list class="row-wrap">
      <ng-container *ngIf="point === 0">
        <ion-item class="itens1" *ngFor="let turmas of jsonS; let it = index">
          <ion-card ion-activatable class="ion-activatable cards fullcenter" (click)="next(it)">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-card-header>
              <ion-card-title class="double-font text-center">{{
                turmas.curso
              }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="point === 1">
        <ion-item
          class="itens2"
          *ngFor="let periodo of jsonS[classroom].periodos; let ip = index"
        >
          <ion-card ion-activatable class="ion-activatable cards fullcenter cards-period" (click)="next(ip)">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-card-header>
              <ion-card-title class="triple-font text-center">{{
                periodo.name
              }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="point === 2">
        <ion-item
          class="itens1"
          *ngFor="let salas of jsonS[classroom].periodos[period].cursos_salas"
        >
          <ion-card ion-activatable class="ion-activatable cards fullcenter ">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-card-header>
              <ion-card-subtitle class="text-center middle-font">{{
                salas.dia
              }}</ion-card-subtitle>
              <ion-card-subtitle class="text-center">{{
                salas.curso
              }}</ion-card-subtitle>
              <ion-card-title class="text-center">{{
                salas.sala
              }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="point > 0">
    <ion-fab-button class="color-pitagoras" (click)="back()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
